@{
    var U = Dnd_App.Utils.Session.CurrentSession();
}



<div id="subheader" class="section grey darken-4 white-text">
    <div class="row">
        <div class="col s6">
            <h4 class="light"><i class="fa fa-th" style="color:white"> </i> Summary</h4>
        </div>
    </div>
</div>



<div class="section">
    <div class="row">
        <div class="col s12 m4">
            <!-- Basic Card -->
            <div id="card-summary" class="card blue-grey darken-1 green-to-green">
                <div class="card-content white-text">
                    <span class="card-title center">My NPCs</span>
                    <h2 class="center">6</h2>
                </div>

                <div class="card-action center">
                    <a class="white-text" href="#">Create new</a>
                    <a class="white-text" href="#">View all</a>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <!-- Basic Card -->
            <div class="card blue-grey darken-1 orange-to-orangeblack">
                <div class="card-content white-text">
                    <span class="card-title">My NPCs</span>
                    <h2 class="center">6</h2>
                </div>
                <div class="card-action center">
                    <a class="white-text" href="#">Create new</a>
                    <a class="white-text" href="#">View all</a>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <!-- Basic Card -->
            <div class="card white z-depth-3 red-to-red">
                <div class="card-content white-text">
                    <span class="card-title">My Combats</span>
                    <h2 class="center">6</h2>
                </div>
                <div class="card-action red-text center">
                    <a href="#">View all</a>

                </div>
            </div>
        </div>

        
    </div>
</div>


<div class="section orange-to-orangeblack">
    <div class="row">
        <div class="col s4 m4">
            <h1 class="header-panel dndfont">Templates</h1>
        </div>
        <div class="col s4 m4">
            <!-- Basic Card -->
            <div class="card blue-grey darken-1 black-to-grey">
                <div class="card-content white-text">
                    <span class="card-title">Templates</span>
                    <h2 class="center">6</h2>
                </div>
                <div class="card-action center">
                    <a class="white-text" href="#">Explore</a>
                </div>
            </div>
        </div>
    </div>
</div>


