@{
    var U = Dnd_App.Utils.Session.CurrentSession();
}

<nav class="z-depth-0 grey darken-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo bar-logo left" id="logo">DnDApp</a>
        <ul id="nav-mobile" class="right hide-on-small-only">
            <li>Actions:</li>
            <li><a href="javascript:Back()"  class="waves-effect waves-light btn red">Back</a></li>
            <li><a href="javascript:Save()"  class="waves-effect waves-light btn blue">Save</a></li>
        </ul>
    </div>
</nav>
