@{
    var U = Dnd_App.Utils.Session.CurrentSession();
}

<nav class="z-depth-0 grey darken-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo bar-logo left" id="logo">DnDApp</a>
        <ul id="nav-mobile" class="right hide-on-small-only">
            <li>Actions:</li>
            <li><a href="@Url.Action("Panel","User")"  class="waves-effect waves-light btn red">Back</a></li>
            <li><a href="@Url.Action("Save",ViewBag.Character,new { id= ViewBag.TempID })"  class="waves-effect waves-light btn blue">Save</a></li>
            <li><a href="#!" class="right bar-user light white-text"><i class="fa fa-user-o fa-fw"></i> @U.UserName</a></li>
        </ul>
    </div>
</nav>
