@{
    var U = Dnd_App.Utils.Session.CurrentSession();
}

<nav class="z-depth-0 grey darken-4">
    <div class="nav-wrapper">
        <a class="brand-logo bar-logo left" id="logo">DnDApp</a>
        <div class="col s6 bar-breadcrumb">
            <a href="#!" class="light breadcrumb white-text">MY NPCs</a>
            <a class="light breadcrumb white-text">New</a>
            <a href="#!" class="right bar-user light white-text"><i class="fa fa-user-o fa-fw"></i> @U.UserName</a>
        </div>
    </div>
</nav>
