<ul id="right hide-on-small-only" class="side-nav fixed z-depth-0 red-to-red">

    <li id="li-logo" >
        <a id="li-a-logo" class="brand-logo" onclick="LoadDashboard();">
            <h5 id="logo-side" class="white-text">DnDApp</h5>
        </a>
    </li>
    <li>
        <a id="sn-li-a" class="waves-effect white-text menu" onclick="LoadDashboard();">
            <i class="fa fa-th" style="color:white"></i>Dashboard
        </a>
    </li>
    <li>
        <a id="sn-li-a" class="waves-effect white-text menu" onclick="LoadProfile();">
            <i class="fa fa-user-o" style="color:white"></i>Profile
        </a>
    </li>
    <li>
        <a id="sn-li-a" class="waves-effect white-text menu" onclick="LoadNPCs();">
            <i class="fa fa-shield" style="color:white"></i>My NPCs
        </a>
    </li>
    <li>
        <a id="sn-li-a" class="waves-effect white-text menu" onclick="LoadPCs();">
            <i class="fa fa-user-o" style="color:white"></i>My PCs
        </a>
    </li>
    <li>
        <a id="sn-li-a" class="waves-effect white-text menu" onclick="LoadCombat();">
            <i class="fa fa-user-o" style="color:white"></i>My Combats
        </a>
    </li>
</ul>


@*<nav class="nav-extended grey darken-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#test1">Test 1</a></li>
            <li class="tab"><a class="active" href="#test2">Test 2</a></li>
            <li class="tab disabled"><a href="#test3">Disabled Tab</a></li>
            <li class="tab"><a href="#test4">Test 4</a></li>
        </ul>
    </div>
</nav>
<div id="test1" class="col s12">Test 1</div>
<div id="test2" class="col s12">Test 2</div>
<div id="test3" class="col s12">Test 3</div>
<div id="test4" class="col s12">Test 4</div>*@