<ul id="slide-out" class="side-nav fixed z-depth-0" style="
background: rgba(59,7,7,1);
background: -moz-linear-gradient(left, rgba(59,7,7,1) 8%, rgba(59,7,7,1) 25%, rgba(51,15,15,1) 48%, rgba(33,33,33,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(8%, rgba(59,7,7,1)), color-stop(25%, rgba(59,7,7,1)), color-stop(48%, rgba(51,15,15,1)), color-stop(100%, rgba(33,33,33,1)));
background: -webkit-linear-gradient(left, rgba(59,7,7,1) 8%, rgba(59,7,7,1) 25%, rgba(51,15,15,1) 48%, rgba(33,33,33,1) 100%);
background: -o-linear-gradient(left, rgba(59,7,7,1) 8%, rgba(59,7,7,1) 25%, rgba(51,15,15,1) 48%, rgba(33,33,33,1) 100%);
background: -ms-linear-gradient(left, rgba(59,7,7,1) 8%, rgba(59,7,7,1) 25%, rgba(51,15,15,1) 48%, rgba(33,33,33,1) 100%);
background: linear-gradient(to right, rgba(59,7,7,1) 8%, rgba(59,7,7,1) 25%, rgba(51,15,15,1) 48%, rgba(33,33,33,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b0707', endColorstr='#212121', GradientType=1 );
">

    <li id="li-logo" class="z-depth-5">
        <a id="li-a-logo" href="#!user" class="brand-logo"><h5 id="logo" class="white-text">DnDApp</h5></a>
    </li>

    <li class="z-depth-2">
        <a id="sn-li-a" class="waves-effect white-text menu" onclick="LoadView('_Dashboard', 'User');" href="">
            <i class="fa fa-th" style="color:white"></i>Dashboard
        </a>
    </li>
    <li class="z-depth-2">
        <a id="sn-li-a" class="waves-effect white-text menu" href="#!name">
            <i class="fa fa-user-o" style="color:white"></i>Profile
        </a>
    </li>
    <li class="z-depth-2">
        <a id="sn-li-a" class="waves-effect white-text menu" onclick="LoadView('_AllNPC', 'NPC');">
            <i class="fa fa-shield" style="color:white"></i>My NPCs
        </a>
    </li>
    <li class="z-depth-2">
        <a id="sn-li-a" class="waves-effect white-text menu" href="#!">
            <i class="fa fa-user-o" style="color:white"></i>My PCs
        </a>
    </li>
    <li class="z-depth-2">
        <a id="sn-li-a" class="waves-effect white-text menu" href="#!">
            <i class="fa fa-user-o" style="color:white"></i>My Combats
        </a>
    </li>
</ul>