<ul id="right hide-on-small-only" class="side-nav fixed z-depth-3 color-red">

    <li id="li-logo" >
        <a id="li-a-logo" class="waves-effect waves-black focus-black white-text menu brand-logo" onclick="LoadDashboard();">
            <h5 id="logo-side" class="white-text">DnDApp</h5>
        </a>
    </li>
    <li>
        <a id="sn-li-a" class="waves-effect white-text menu" onclick="LoadDashboard();">
            <i class="fas fa-home" style="color:white"></i>Home
        </a>
    </li>
    <li>
        <a id="sn-li-a" class="waves-effect white-text menu" onclick="LoadNPCs();">
            <i class="fas fa-shield-alt" style="color:white"></i>My NPCs
        </a>
    </li>
    <li>
        <a id="sn-li-a" class="waves-effect white-text menu" onclick="LoadPCs();">
            <i class="fab fa-pied-piper-alt" style="color:white"></i>My PCs
        </a>
    </li>
    <li>
        <a id="sn-li-a" class="waves-effect white-text menu" onclick="LoadCombats();">
            <i class="fab fa-d-and-d" style="color:white"></i>Combats
        </a>
    </li>
    <li>
        <a id="sn-li-a" class="waves-effect white-text menu" href="@Url.Action("Logout","User")">
            <i class="fas fa-sign-out-alt" style="color:white"></i>Logout
        </a>
    </li>
</ul>