<ul id="slide-out" class="side-nav fixed z-depth-0 noir">

    <li id="li-logo" class="z-depth-5">
        <a id="li-a-logo" href="#!user" class="brand-logo"><h5 id="logo" class="white-text">DnDApp</h5></a>
    </li>

    <li class="z-depth-2">
        <a id="sn-li-a" class="waves-effect white-text menu" onclick="LoadView('_Dashboard', 'User');" href="">
            <i class="fa fa-th" style="color:white"></i>Dashboard
        </a>
    </li>
    <li class="z-depth-2">
        <a id="sn-li-a" class="waves-effect white-text menu" href="#!name">
            <i class="fa fa-user-o" style="color:white"></i>Profile
        </a>
    </li>
    <li class="z-depth-2">
        <a id="sn-li-a" class="waves-effect white-text menu" onclick="LoadView('_AllNPC', 'NPC');">
            <i class="fa fa-shield" style="color:white"></i>My NPCs
        </a>
    </li>
    <li class="z-depth-2">
        <a id="sn-li-a" class="waves-effect white-text menu" href="#!">
            <i class="fa fa-user-o" style="color:white"></i>My PCs
        </a>
    </li>
    <li class="z-depth-2">
        <a id="sn-li-a" class="waves-effect white-text menu" href="#!">
            <i class="fa fa-user-o" style="color:white"></i>My Combats
        </a>
    </li>
</ul>