@{
    var U = Dnd_App.Utils.Session.CurrentSession();
}


<div class="row">
    <div class="col s12 m4">
        <p class="center-align">
            @Html.ActionLink("Create new", "New", "PC", 
             new { @class = "btn-large waves-effect waves-light blue-grey darken-1 center-align" })
        </p>
    </div>
</div>