#logo {
    font-family: 'DUNGRG__';
    font-size: 70px;
}

@font-face {
    font-family: 'DUNGRG__';
    src: url('DUNGRG__.TTF') format('truetype');
}

.dndfont {
    font-family: 'DUNGRG__';
}

.header-panel {
    margin-left: 15px;
}

#_NpcView {
    margin-top: 0px;
    margin-bottom: 0px;
}

.statblock {
    padding-top: 20px;
}

    .statblock h4 {
        font-weight: 500;
        margin-bottom: 5px;
    }
    .statblock p {
        font-size:11px;
    }
    .statblock span {
        font-size: 14px;
    }

    .statblock .font-italic{
        font-style:italic;
    }

    .statblock .font-bold {
        font-weight: bold;
    }

    .statblock hr {
        border-left-style: solid;
        border-left-width: 0px;
        color: white;
        background-color: white;
        height: 4px;
        border-top: 0px;
    }


.row-new-character {
    display: flex;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.col-new-character {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    height: calc(100% - 65px);
    height: -webkit-calc(100% - 65px); /* google, safari */
    height: -moz-calc(100% - 65px); /* firefox */
}

.bar-breadcrumb {
    margin-left: 230px;
}

.bar-user {
    margin-right: 10px;
}

.bar-logo {
    margin-left: 10px;
}

#card-sum {
    position: absolute;
    bottom: 0;
    left: 0;
}

.card .card-action {
    background-color: transparent;
}

.npcview {
    margin-top: 7.5px;
    margin-bottom: 15px;
}

.collapsible-header {
    font-size:19px;

}

.ul-collap{
    border:0px;
}

.nav-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

#subheader {
    padding-top: 0px;
    padding-bottom: 0px;
}

#charcard-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 11px;
    padding-bottom: 1px;
}

    #charcard-content hr {
        background-color: white;
        border-top-width: 0px;
        border-top-style: solid;
    }

#charcard-action {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

#section-dashboard {
    padding-top: 0px;
    padding-bottom: 0px;
}

.login-panel {
    margin-top: 15px;
    margin-bottom: 150px;
}

.login-row {
    margin-bottom: 0px;
}

.preloader-background {
    padding-left: 233px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.u-hide {
    display:none;
}