#logo {
    font-family: 'DUNGRG__';
    font-size: 70px;
}

@font-face {
    font-family: 'DUNGRG__';
    src: url('DUNGRG__.TTF') format('truetype');
}

.dndfont {
    font-family: 'DUNGRG__';
}

.header-panel {
    margin-left: 15px;
}

#_NpcView {
    margin-top: 0px;
    margin-bottom: 0px;
}

.statblock {
    
}

    .statblock h4 {
        
    }
    .statblock p {
    }

    .statblock hr {
        border-left-style: solid;
        border-left-width: 0px;
        color: white;
        background-color: white;
        height: 4px;
        border-top: 0px;
    }


.row-new-character {
    display: flex;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.col-new-character {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.bar-breadcrumb {
    margin-left: 230px;
}

.bar-user {
    margin-right: 10px;
}

.bar-logo {
    margin-left: 10px;
}
